html, body { 
    height:100%; 
    margin:0; 
    padding:0; 
    font-family: "Montserrat", sans-serif;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

/*HEADER NAVIGATION BAR, LOGO*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e3f6f5;
}

.logo {
    padding-left: 60px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    padding-right: 80px;
}

.nav-links li {
    display: inline-block;
    padding: 0 30px;
}

.nav-links li a {
    color: #2c698d;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #bae8e8;
}

/*MAIN CONTAINS ABOUT, WORK, CONTACTS*/

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    margin: 20px 20px;
    background-color: #272643;
    opacity: 0.8;
    color: #ffffff;
}

.main-heading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.work {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work h2 {
    color: #ffffff;
}

.work div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px 20px;
}

.work div img {
    width: 300px;
    height: 200px;
}

.work div div {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #ffffff;
}

.contact {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272643;
    color: #ffffff;
}

.contact .number-email p {
    display:flex;
    justify-content: center;
}

.contact a {
    text-decoration: none;
    padding: 0 10px;
    color: #ffffff;
}

.contact a:hover {
    text-decoration: none;
    padding: 0 10px;
    color: #bae8e8;
}

/*FOOTER SOCIAL MEDIA LINKS*/

.social-media-links {
    background-color: #272643;
    display: flex;
    justify-content: center;
    margin: 0;
}

.social-media-links li {
    list-style: none;
    margin: 20px;
}

.social-media-links li a {
    color: #ffffff
}